.clock {
    padding: 0.4em 0.5em 0.4em 0.5em;
    border-top: 1px solid $dark_shadow;
    border-right: 1px solid $light_shadow;
    border-bottom: 1px solid $light_shadow;
    border-left: 1px solid $dark_shadow;
    margin: 2px;
}
